<a href="https://colab.research.google.com/github/bhatiatanish225/Python-Assignments/blob/main/Python_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. L is a list defined as L= [11, 12, 13, 14]# New Section

(i) WAP to add 50 and 60 to L.

In [ ]:
L= [11, 12, 13, 14]
print(L)
M=[50,60]
L.extend(M)
print(L)

[11, 12, 13, 14]
[11, 12, 13, 14, 50, 60]

(ii) WAP to remove 11 and 13from L

In [ ]:
L= [11, 12, 13, 14]
print(len(L))
del L[0]


del L[1]
print(L)

4
[12, 14]

(iii) WAP to sort L in ascending order.

In [ ]:
L= [11, 12, 13, 14]
(L.sort())
print(L)

[11, 12, 13, 14]

(iv) WAP to sort L in descending order.

In [ ]:
L= [11, 12, 13, 14]
L.sort(reverse=True)
print(L)

[14, 13, 12, 11]

(v) WAP to search for 13 in L.

In [ ]:
L= [11, 12, 13, 14]
for n in range(4):
  if(L[n]==13):
    print(n)

2

(vi) WAP to count the number of elements present in L

In [ ]:

L= [11, 12, 13, 14]

count=0
for n in range(len(L)):
  count=count+1
print(count)

4

(vii) WAP to sum all the elements in L

In [ ]:
L= [11, 12, 13, 14]
sum=0
for n in L:
  sum=sum+n
print(sum)

50

(viii) WAP to sum all ODD numbers in L

In [ ]:
L= [11, 12, 13, 14]
sum=0
for n in L:
  if(n%2!=0):
    sum=sum+n
print(sum)

24

(ix) WAP to sum all EVEN numbers in L.

In [ ]:
L= [11, 12, 13, 14]
sum=0
for n in L:
  if(n%2==0):
    sum=sum+n
print(sum)

26

(x) WAP to sum all PRIME numbers in L.

11
12
13
14
14

(xi) WAP to clear all the elements in L.

In [ ]:
L= [11, 12, 13, 14]
L.clear()
print(L)

(xii) WAP to delete L

In [ ]:
L= [11, 12, 13, 14]
del L

Q2. D is a dictionary defined as D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}

(i) WAP to add new entry in D; key=8 and value is 8.8

In [ ]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
D[8]=8.8
print(D)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

(ii) WAP to remove key=2

In [ ]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
del D[2]
print(D)

{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7}

(iii) WAP to check weather 6 key is present in D.

In [ ]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print(6 in D)

False

(iv) WAP to count the number of elements present in D.

In [ ]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
count=0
for n in range(len(D)):
  count=count+1
print(count)

5

(v) WAP to add all the values present D.

In [ ]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
sum=0
for n in D:
  sum=sum+D[n]
print(sum)

36.4

(vi) WAP to update the value of 3 to 7.1.

In [ ]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
D[3]=7.1
print(D)

{1: 5.6, 2: 7.8, 3: 7.1, 4: 8.7, 5: 7.7}

(vii) WAP to clear the dictionary.

In [ ]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
dict.clear(D)
print(D)

{}

Q3. S1 is a set defined as S1= [10, 20, 30, 40, 50, 60].
 S2 is a set defined as S2= [40, 50, 60, 70, 80, 90].

(i) WAP to add 55 and 66 in Set S1

In [ ]:
S1= set([10, 20, 30, 40, 50, 60])
S2= set([40, 50, 60, 70, 80, 90])
S1.add(55)
S1.add(66)
print(S1)

{66, 40, 10, 50, 20, 55, 60, 30}

(ii) WAP to remove 10 and 30 from Set S1

In [ ]:
S1= set([10, 20, 30, 40, 50, 60])
S2= set([40, 50, 60, 70, 80, 90])
S1.remove(30)
S1.remove(10)
print(S1)

{40, 50, 20, 60}

(iii) WAP to check whether 40 is present in S1

In [ ]:
S1= set([10, 20, 30, 40, 50, 60])
S2= set([40, 50, 60, 70, 80, 90])

print(40 in S1)

True

(iv) WAP to find the union between S1 and S2

In [ ]:
S1= set([10, 20, 30, 40, 50, 60])
S2= set([40, 50, 60, 70, 80, 90])

S3=S1.union(S2)
print(S3)

{70, 40, 10, 80, 50, 20, 90, 60, 30}

(v) WAP to find the intersection between S1 and S2

In [ ]:
S1= set([10, 20, 30, 40, 50, 60])
S2= set([40, 50, 60, 70, 80, 90])
S3=S1.intersection(S2)
print(S3)

{40, 50, 60}

(vi) WAP to find the S1 - S2

In [ ]:
S1= set([10, 20, 30, 40, 50, 60])
S2= set([40, 50, 60, 70, 80, 90])
S3=S1.difference(S2)
print(S3)

{10, 20, 30}

Q4. Write the following program.

(i) WAP to print 100 random strings whose length between 6 and 8

In [ ]:
import random as r
import string as s
for n in range(1,101,1):
  length=r.randint(6,8)
  (s.ascii_letters)
  pss=r.sample(s.ascii_letters,length)
  new_pss="".join(pss)
  print(new_pss)

PiHLaDo
QBxlhZ
YkxKgZ
vbZGxneS
QnvKUh
JaoipLy
kIMKwom
SplHPsvo
ytMHTu
utolPAsX
KlJnFI
JSlxaCz
EPxNVpTo
uFeIgdqX
uQObBEH
YRSxdkTw
okEUznic
wRuzmE
iqIEfrBj
KILsSAd
URlFQqBO
SvckWQ
oHYtkZO
AkzaGUn
nSBqTbi
MusvpAw
DTlGwV
HylvaBqr
qWbzUsGl
ygnvNrUb
iMGWYX
gKQAivZ
kACrLDE
qEmMjp
nHvmLEj
qStzaB
wopFvsGh
RlMaIht
LQZyNnuq
GRKfrIk
WhdiKZAq
gNqMDFbP
nPAGfmyb
XZnrhEK
cIaZLfFh
cVLZelxM
SfYugV
DJqaioS
PNKSWJo
ETsAgC
DbfmMNog
GinyzWc
pXBwJP
FaQHwL
xojwim
xMYLgDhe
jNMFqH
DFtYeW
zLKigrM
KSzxjQZ
RLBZeA
jztAODM
wvrXaR
zuYdOc
FieYMDa
kmJueVR
LJVdkgr
liUcDrA
NMdFDItA
VavKbQk
BmZjXkWg
TXhYNGy
swpNqRr
UvZsMQ
cEJpNoZ
UHMAcwJ
UZeFbOz
yCqEHwj
euciyAZ
gGDmnOJB
kpevHKT
vwusmK
XEeGNAf
vrZkLcQW
fvgRAHp
AZpmEtvR
ufydAz
JqASEfi
MtNqUpR
WghBTPX
ZbIsdyT
woPptgC
QxdpuXIG
NsBfLJ
WgVoAXd
bKjryl
KJHgrdB
qJvnTLx
UMuPql
MNyLTws

(ii) WAP to print all prime numbers between 600 and 800

[126, 189, 252, 315, 378, 441, 504, 567, 630, 693, 756, 819, 882, 945]

(iii) WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9

In [ ]:
for n in range(100,1000):
  if(n%7==0 and n%9==0):
    print(n)

126
189
252
315
378
441
504
567
630
693
756
819
882
945

Q5. WAP to create two lists of 10 random numbers between 10 and 30; Find

(i) Common numbers in the two lists

In [ ]:
import random as r
A=r.sample(range(10,30), 10)
B=r.sample(range(10,30), 10)


for n in A:
  for m in B:
    if(n==m):
      print(n)

22
15
20
23
21

(ii) Unique numbers in both the list

In [ ]:
import random as r
A=r.sample(range(10,30), 10)
B=r.sample(range(10,30), 10)



for n in A:
  for m in B:
    if(n!=m):
      print(n)
      break

11
14
10
22
23
29
16
24
15
13

(iii) Minimum in both the list

In [ ]:
import random as r
A=r.sample(range(10,30), 10)
B=r.sample(range(10,30), 10)
print(min(A))
print(min(B))

12
11

(iv) Maximum in both the list

In [ ]:
import random as r
A=r.sample(range(10,30), 10)
B=r.sample(range(10,30), 10)
print(max(A))
print(max(B))

29
29

(v) Sum of both the lists

In [ ]:
import random as r
A=r.sample(range(10,30), 10)
B=r.sample(range(10,30), 10)
C=A+B
print(C)

[25, 16, 11, 20, 14, 23, 13, 17, 19, 18, 27, 29, 15, 17, 10, 20, 12, 18, 14, 23]

Q6. WAP to create a list of 100 random numbers between 100 and 900. Count and print the:

(i) All odd numbers

In [ ]:
import random as r
A= r.sample(range(100,900),100)
#print(A)
sum=0
for n in A:
  if n%2!=0:
    sum=sum+n
print(sum)

26395

(ii) All even numbers

In [ ]:
import random as r
A= r.sample(range(100,900),100)
#print(A)
sum=0
for n in A:
  if n%2==0:
    sum=sum+n
print(sum)

Q7. D is a dictionary defined as D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}. 
 WAP to read all the keys and values from dictionary and write to the file in the given below format.
Key1, Value1
Key2, Value2
Key3, Value3

```

In [31]:
D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}
fp=open("file.txt","w")
for n in D:
  fp.write(str(n)+","+str(D[n])+"\n")
fp.close()